.tableField{
    color: #1F0322;
    padding: 20px;
    max-width: 200px;
}
.tableField img{
    width: 200px; 
}
.tableHeader{
    background-color: #da4055;
    color: white;
}
.button{
    display:block;
    text-align:center;
    font-size: 200%;
    font-family: inherit;
    margin-top: 20px;
    background-color:#da4055;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:none;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:18px;
    padding:6px 15px;
    text-decoration:none;
    align-content: auto;
}
.button:hover{
    background-color: #dda8af
}
.reserved{
    color:rgb(153, 39, 39);
    text-size-adjust: 10%;
}
.removebutton{
    display:block;
    text-align:center;
    font-size: 200%;
    font-family: inherit;
    margin-top: 20px;
    background-color:#da4055;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:none;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:18px;
    padding: 5px 12px 5px 12px;

}