.Main {
    background-color: rgb(238, 235, 235);
    min-height: 100vh;
    color: white;
}
.contentWithSideBar{
    display: flex;
}
.content{
    margin: 10px;
    overflow-x: scroll;
    width: 100%;
}